// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@font-face {
    font-family: 'Montreal';
    src: url('montreal-demibold.ttf'); 
}

@font-face {
    font-family: 'Nexa Light';
    src: url('Nexa Light.otf'); 
}

@font-face {
    font-family: 'Nexa Bold';
    src: url('Nexa Bold.otf'); 
}

html,body, li{
	font-family: 'Nexa Light' !important;
	height: auto;
	color: black;
}

nav.navbar {
	background: white;
	border-bottom: solid 1px #EEE;
	border-radius: 0px;
	box-shadow: 0px 1px 3px #EEE;
	height: auto;
	min-height: 70px;
	margin-bottom: 0px;
}

.navbar-right {
	padding-top: 10px;
}

button.navbar-toggle {
	margin-top: 20px;
}

input[type="submit"] {
	  border-radius: 2px;
	  background: orange;
	  padding: 10px 30px;
	  margin: 10px 0px;
	  max-width: 350px;
	  color: white;
	  font-size: 15px;
	  text-align: center;
	  cursor: pointer;
	  border: none;
}

input[type="email"], input[type="text"], input[type="password"] {
	border: solid 1px #CCC;
	height: 45px;
	border-radius: 2px;
	margin: 0px 0px 15px 0px;
	max-width: 250px;
	width: 90%;
	padding-left: 10px;
	color: black;
}

textarea {
	padding: 10px;
	border: solid 1px #CCC;
	border-radius: 2px;
	width: 100%;
}


.devise-box{
	background: #313131;
	width: 90%;
	max-width: 500px;
	border-radius: 3px;
	margin: 30px 0px;
	padding: 15px;
	color: white;
}

a:hover {
	background: none !important; 
}

.close {
	padding: 5px !important;
}

.header {
	font-size: 32px;
	padding: 25px 0px;
}

.black {
	background: black;
}

.home-title {
	font-size: 50px;
	color: white;
}

.home-button {
	border-radius: 3px;
	background: white;
	padding: 15px 20px;
	width: 90%;
	max-width: 250px;
	color: black;
	font-size: 18px;
	text-align: center;
	cursor: pointer;
	border: none;
	margin-top: 70px;
}

.home-box {
	margin-top: 80px;
	padding: 80px 0px;
	border-top: solid 2px white;
	border-bottom: solid 2px white;
}

.message {
	color: red;
}